# Series

In [ ]:
import pandas as pd

fruits = pd.Series(["apple", "pear", "orange", "melon", "kiwi"], index=[5, 6, "sju", 8, 9])
print(fruits)
print()

fruits.apply(str.upper)
print(fruits[:2])
print()

type(fruits)

print(fruits)
print()

fruits["sju"]
fruits = [[True, True, False, False, True]]

print(fruits)

In [ ]:
numbers = pd.Series([5, "6", 3])
print(numbers * 2)
print()

numbers2 = pd.Series([5, 6, 3])
print(numbers2 >= 5)
print()

print(numbers2 * 2 + 1)

# DataFrame

In [32]:
data = {
    "Name": ["Max", "Tobias", "Jennifer"],
    "Age": [19, 27, 27]
}

df = pd.DataFrame(data)
df

       Name  Age
0       Max   19
1    Tobias   27
2  Jennifer   27

In [34]:
df["Age"] = df["Age"] + 1
df

       Name  Age
0       Max   20
1    Tobias   28
2  Jennifer   28

In [35]:
df["Age"] >= 25

0    False
1     True
2     True
Name: Age, dtype: bool

In [36]:
str(df)
print(df)

       Name  Age
0       Max   20
1    Tobias   28
2  Jennifer   28