In [22]:
import pandas as pd

In [23]:
vaccinerade_kommun_och_ålder = pd.read_excel("../Labb_1_Covid-19/Data/Folkhalsomyndigheten_Covid19_Vaccine.xlsx", sheet_name="Vaccinerade kommun och ålder")
vaccinerade_kommun_och_ålder.head(5)

,Län,Län_namn,Kommun,Kommun_namn,Ålder,Befolkning,Antal minst 1 dos,Antal minst 2 doser,Antal 3 doser,Antal 4 doser,Andel minst 1 dos,Andel minst 2 doser,Andel 3 doser,Andel 4 doser
0,1,Stockholms län,114,Upplands Väsby,12-15,2422,1206,1046,NaN,NaN,0.497936,0.431874,NaN,NaN
1,1,Stockholms län,114,Upplands Väsby,16-17,1203,839,755,NaN,NaN,0.697423,0.627598,NaN,NaN
2,1,Stockholms län,114,Upplands Väsby,18-29,6692,4887,4469,1959.0,NaN,0.730275,0.667812,0.292738,NaN
3,1,Stockholms län,114,Upplands Väsby,30-39,7332,5542,5240,2878.0,NaN,0.755865,0.714675,0.392526,NaN
4,1,Stockholms län,114,Upplands Väsby,40-49,6946,5592,5429,3719.0,NaN,0.805068,0.781601,0.535416,NaN

In [24]:
# a) Hur många län finns representerade i datasetet?
antal_län = len(vaccinerade_kommun_och_ålder["Län"].unique())

print(f"I datasetet representeras {antal_län} län.")

I datasetet representeras 21 län.

In [25]:
# b) Hur många kommuner finns representerade i datasetet?
antal_kommuner = len(vaccinerade_kommun_och_ålder["Kommun"].unique())

print(f"I datasetet representeras {antal_kommuner} kommuner.")

I datasetet representeras 290 kommuner.

In [26]:
# c) Hur stor är befolkningen som är representerad i datasetet?
befolkning_mängd = vaccinerade_kommun_och_ålder["Befolkning"].sum()

print(f"I datasetet representeras totalt {befolkning_mängd} personer.")

I datasetet representeras totalt 9092790 personer.